@(page: String, items: List[Product]) @Main(page) {
<div class="container">
<div class="well">
  <table class="table">
    <thead>
      <tr>
        <th>Item</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      @for(item <- items) {
      <tr>
        <td><a href="@routes.Application.showItem(item.getId())">@item.getItem()</a></td>
        <td>@item.getPrice()</td>
        <td><a type="button" class="btn btn-info" href="@routes.Application.showItem(item.getId())">More Information</a></td>
            <td><a type="button" class="btn btn-info" href="@routes.Application.showCart(item.getId())">Add to cart</a></td>
      </tr>
      }
  </table>
  </div>
</div>
}
