@(contactForm: Form[views.formdata.ContactFormData],
  telephoneTypes: Map[String, Boolean])

 @import bootstrap3._ 
 @import helper._
 
 @Main("Home") {
 <div class="container">
    @form(routes.Application.postContact(), 'class -> "form-horizontal") {
    
    @text(contactForm("firstName"), 
           label="First",
           placeholder="First Name",
           help="Please enter your first name." )
    @text(contactForm("lastName"),
           label="Last",
           placeholder="Last Name",
           help="Your Last Name.")
   
   @text(contactForm("email"),
            label="Email address",
            placeholder="example@gmail.com",
            help="Please enter your email address in case we need to contact you.")
            
   @text(contactForm("Credit card"),
            label="Credit card",
            placeholder="",
            help="Your credit card number.")
            
    @telephone(contactForm("telephone"),
                label="Phone",
                placeholder="Please enter your phone number.",
                contactForm("telephoneType"),
                optionMap=telephoneTypes,
                isMultiple=false)

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <a type="submit" class="btn btn-default" href="@routes.Application.checkout()">Add</a>
  </div>
</div>
    } 
    </div>
}

