@(contactForm: Form[views.formdata.ContactFormData],
  telephoneTypes: Map[String, Boolean])

 @import bootstrap3._ 
 @import helper._
 
 @Main("Home") {
    @form(routes.Application.postContact(), 'class -> "form-horizontal") {
    
    @text(contactForm("firstName"), 
           label="First",
           placeholder="First Name",
           help="Please enter your first name." )
    @text(contactForm("lastName"),
           label="Last",
           placeholder="Last Name",
           help="Your Last Name.")
   
   @text(contactForm("email"),
            label="Email address",
            placeholder="example@gmail.com",
            help="Please enter your email address in case we need to contact you.")
            
   @text(contactForm("Credit card"),
            label="Credit card",
            placeholder="",
            help="Your credit card number.")
            
    @telephone(contactForm("telephone"),
                label="Phone",
                placeholder="Please enter your phone number.",
                contactForm("telephoneType"),
                optionMap=telephoneTypes,
                isMultiple=false)

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <a type="submit" class="btn btn-default" href="@routes.Application.postContact()">Add</a>
  </div>
</div>
<!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Really delete this surfer?</h4>
        </div>
        <div class="modal-body">
          <p>This cannot be undone.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <a type="button" class="btn btn-info" href="#">Delete</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
    } 
}

